.immunity-page {
  font-size: $fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $mainfamily;
  color: $textcolor;
  background-color: $accent;
  -webkit-font-smoothing: antialiased;
  input,
  textarea {
    outline: none;
  }
  .btn {
    display: inline-block;
    background-color: transparent;
    border-style: none;
    border-width: none;
    border-color: transparent;
    font-family: $mainfamily;
    transition: all $base-duration $base-timing;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0;
    font-family: $mainfamily;
  }
  p {
    margin: 0;
  }
  label {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: $accent;
    transition: color $base-duration $base-timing;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .row {
    display: flex;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .container-fluid {
    width: 100%;
    padding: 0 $contentPadding;
  }
  .container {
    max-width: $maxWidth;
    padding: 0 $contentPadding;
    margin: 0 auto;
  }
  .immunity-btn {
    @extend .btn;
    background-color: $black;
    color: $white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 270px;
    width: 100%;
    padding: 12px 10px;
    &:hover {
      background-color: #333;
    }
    @media screen and (max-width: 950px) {
      font-size: 24px;
    }
  }
  .immunity-main {
    padding: 170px 0 350px 0;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
      padding: 100px 0 120px 0;
    }
    @media screen and (max-width: 950px) {
      padding: 50px 0 0px 0;
    }
  }
  .container--immunity-main {
    position: relative;
    max-width: 1250px;
  }
  .immunity-main-img {
    position: absolute;
    right: -345px;
    top: -106px;
    width: 762px;
    height: auto;
    @media screen and (max-width: 1200px) {
      width: 662px;
    }
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  .immunity-main-h1 {
    color: $white;
    font-size: 38px;
    line-height: 48px;
    font-weight: 500;
    @media screen and (max-width: 950px) {
      font-size: 28px;
      line-height: 38px;
    }
  }
  .immunity-main-text {
    color: $white;
    font-size: 28px;
    line-height: 44px;
    font-weight: 500;
    @media screen and (max-width: 950px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .immunity-main-text-thin {
    color: $white;
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    @media screen and (max-width: 950px) {
      font-size: 22px;
      line-height: 32px;
    }
  }
  .immunity-main-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    width: 100%;
    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 120px;
    }
  }
  .immunity-main-cost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 40px;
    font-size: 40px;
    line-height: 1;
    color: $black;
    font-weight: bold;
    border: 2px solid $black;
    margin-right: 10px;
    flex: 0 0 auto;
    @media screen and (max-width: 950px) {
      margin-right: 0;
      font-size: 24px;
      padding: 14px 20px;
      max-width: 270px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .immunity-btn---main {
    flex: 0 0 auto;
  }
  .immunity-main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    font-size: 20px;
    color: $white;
    text-align: center;
    img {
      max-width: 100%;
      display: block;
    }
    &:last-child {
      margin-bottom: 0;
      @media screen and (max-width: 1200px) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 1200px) {
      margin-right: 20px;
    }
    @media screen and (max-width: 1200px) {
      max-width: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
      margin-right: 10px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .row--immunity-main {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: 950px) {
      width: 100%;
      align-items: center;
    }
  }
  .immunity-main-items {
    @media screen and (max-width: 1200px) {
      display: flex;
    }
    @media screen and (max-width: 950px) {
      flex-wrap: wrap;
    }
  }
  .immunity-main-text-container {
    margin-right: 90px;
    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }
    @media screen and (max-width: 950px) {
      text-align: center;
    }
  }
  .immunity-col-slider-img {
    max-width: 55%;
    flex-basis: 55%;
    @media screen and (max-width: 950px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .immunity-col-slider-text {
    max-width: 45%;
    flex-basis: 45%;
    padding-left: 100px;
    @media screen and (max-width: 1200px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 950px) {
      max-width: 100%;
      flex-basis: 100%;
      padding-left: 0;
    }
  }
  .container--immunity-slider {
    max-width: 1280px;
    margin-bottom: 30px;
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
  }
  .row--immunity-slider {
    @media screen and (max-width: 950px) {
      flex-wrap: wrap;
    }
  }
  .immunity-slider-img {
    position: relative;
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
      border: none;
      font-size: 0px;
      line-height: 0;
      color: transparent;
      z-index: 20;
      transition: opacity $base-duration $base-timing;
      &:hover {
        opacity: 0.8;
      }
    }
    .slick-next {
      right: 0;
      background-image: url('../images/dest/img/arrow-next.png');
    }
    .slick-prev {
      left: 140px;
      background-image: url('../images/dest/img/arrow-prew.png');
      @media screen and (max-width: 1200px) {
        left: 0px;
      }
    }
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: inherit !important;
    }
    .slick-slide > div {
      height: 100%;
    }
    .immunity-slide-img {
      display: flex !important;
      width: 100%;
      height: 100%;
      align-items: center;
    }
    .slick-slide {
      height: 100%;
    }
    .slick-dots {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      li {
        &.slick-active {
          .immunity-slide-pagin {
            &::after {
              border-color: #fff;
            }
          }
        }
        &:last-child {
          .immunity-slide-pagin {
            margin-bottom: 0;
          }
        }
      }
      .immunity-slide-pagin {
        position: relative;
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        margin-bottom: 10px;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          border: 1px solid transparent;
        }
        @media screen and (max-width: 1200px) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .immunity-slide-img {
    padding: 0 25px 0 180px;
    @media screen and (max-width: 1200px) {
      padding: 0 25px 0 130px;
    }
    @media screen and (max-width: 950px) {
      padding: 0 25px;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  .immunity-slide-text {
    color: $white;
    font-size: 20px;
    @media screen and (max-width: 950px) {
      font-size: 16px;
      line-height: 1.6;
    }
  }
  .immunity-slide-text-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 90px;
    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 950px) {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.4;
    }
  }
  .immunity-slider-block {
    padding: 160px 0 95px 0;
    @media screen and (max-width: 1200px) {
      padding: 20px 0 20px 0;
    }
  }
  .immunity-btn--middle {
    display: block;
    margin: 0 auto;
  }
  .immunity-pills-block {
    background-color: $white;
    padding: 60px 0 55px 0;
  }
  .container--immunity-pills {
    max-width: 1460px;
  }
  .h2-immunity {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
    text-align: center;
    padding-bottom: 14px;
    @media screen and (max-width: 950px) {
      font-size: 26px;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $black;
      height: 4px;
      width: 110%;
      @media screen and (max-width: 950px) {
        width: 100%;
        height: 3px;
      }
    }
  }
  .h2-immunity--white {
    color: $white;
    &::after {
      background-color: $white;
    }
  }
  .immunity-pills-col {
    flex-basis: calc((100% - 40px * 3) / 4);
    max-width: calc((100% - 40px * 3) / 4);
    margin-right: 40px;
    @media screen and (max-width: 1200px) {
      flex-basis: calc((100% - 40px) / 2);
      max-width: calc((100% - 40px) / 2);
      margin-bottom: 40px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 950px) {
      flex-basis: 100%;
      max-width: 100%;
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .h2-immunity--pills {
    display: table;
    margin: 0 auto 85px auto;
  }
  .immunity-pills-item {
    font-size: 20px;
    color: $black;
    line-height: 1.4;
    img {
      max-width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  .immunity-pills-item-title {
    color: $accent;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .row--immunity-pills {
    margin-bottom: 100px;
    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  .immunity-programme-block {
    background-color: $accent;
  }
  .h2-immunity--programme {
    display: table;
    margin: 0 auto 25px auto;
  }
  .immunity-programme-block {
    padding: 40px 0 60px 0;
  }
  .row--immunity-programme {
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
    color: $white;
    @media screen and (max-width: 950px) {
      font-size: 16px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .immunity-programme-img {
    flex: 0 0 auto;
    width: 214px;
    display: block;
    margin: 30px auto 10px auto;
  }
  .h2-immunity--programme-icon {
    position: absolute;
    top: -20px;
    left: -260px;
    display: block;
    width: 132px;
    height: auto;
    @media screen and (max-width: 1100px) {
      width: 112px;
      left: -170px;
    }
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  .immunity-feature-block {
    padding: 20px 0 40px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $white;
    background-image: url('../images/dest/img/bg1.png');
  }
  .container--feature {
    max-width: 1060px;
  }
  .h2-immunity--feature {
    display: table;
    margin: 0 auto 85px auto;
  }
  .row--immunity-feature {
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-immunity-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    max-width: 25%;
    margin-bottom: 20px;
    @media screen and (max-width: 950px) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  .col-immunity-feature-text {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    @media screen and (max-width: 950px) {
      font-size: 14px;
    }
  }
  .col-immunity-feature-img {
    width: 100px;
    height: 100px;
    border: 2px solid $black;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .immunity-btn---feature {
    display: block;
    margin: 0 auto;
    @media screen and (max-width: 950px) {
      margin: 20px auto 0 auto;
    }
  }
}
